html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden; 
}

img {
    width: 100vw; 
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Tahoma, sans-serif;
    background-image: linear-gradient(to right, rgb(255, 119, 0), white, green);
}

#highlight,
#scheme,
#form {
    background-color: whitesmoke;
    padding: 20px;
    max-width: 100vw;
    margin: 0 auto; 
}

h2 {
    color: rgb(48, 121, 181);
}

form {
    border-radius: 10px;
    background-color: rgb(210, 228, 235);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
}

#link {
    font-size: medium;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(210, 228, 235);
}

ul {
    font-size: large;
    outline: 5px solid rgb(210, 228, 235);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

li {
    padding: 2px;
    margin: 5px;
}

#submit, #reset {
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: steelblue;
    border-color: steelblue;
    color: whitesmoke;
    border-radius: 5px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 97%; 
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="radio"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
}

input[type="submit"],
input[type="reset"] {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

